## ***Getting started***
1. Positive or Negative number: C | C++ |  Java | Python  
2. Even or Odd number: C | C++ | Java | Python
3. Sum of First N Natural numbers:  C | C++ | Java | Python
4. Sum of N natural numbers:  C | C++ | Java | Python
5. Sum of numbers in a given range: C | C++ | Java  | Python
6. Greatest of two numbers: C | C++ | Java | Python
7. Greatest of the Three numbers: C | C++ | Java | Python
8. Leap year or not: C | C++ | Java | Python
9. Prime number within a given range: C | C++ | Java | Python
10. Sum of digits of a number: C | C++ | Java | Python 
11. Reverse of a number : C | C++ | Java | Python
12. Palindrome number: C | C++ | Java | Python
13. Armstrong number : C | C++ | Java | Python
14. Armstrong number in a given range : C | C++ | Java | Python
15. Fibonacci Series upto nth term : C | C++ | Java | Python
16. Find the Nth Term of the Fibonacci Series : C | C++ | Java | Python
17. Factorial of a number : C | C++ | Java | Python
18. Power of a number : C | C++ | Java | Python
19. Factor of a number : C | C++ | Java | Python
20. Finding Prime Factors of a number : C | C++ | Java | Python
21. Strong number : C | C++ | Java | Python
22. Perfect number : C | C++ | Java | Python
23. Perfect Square : C | C++ | Java | Python
24. Automorphic number : C | C++ | Java | Python
23. Harshad number : C | C++ | Java | Python
23. Abundant number : C| C++ | Java | Python
23. Friendly pair : C | C++ |   Java | Python

#1 program to check whether number is positive ,negative or Zero.

In [ ]:
def is_neg_or_pos(n):
  if n>=0:
    if n==0:
      return "Zero"
    else:
      return "Positive"
  else:
    return "Negative"

print(is_neg_or_pos(9))
print(is_neg_or_pos(0))
print(is_neg_or_pos(-45))



def is_po_ne(n):
  return "positive" if n>=0 else "negative"
is_po_ne(4)

Positive
Zero
Negative

'positive'

#2 Program to check whether number is even or odd

In [ ]:
def is_even_number(n):
  if n%2==0:
    return "even"
  else:
    return "odd"
print(is_even_number(4))  
print(is_even_number(9))

n=int(input())
print("even" if n%2==0 else "odd")

even
odd

#3 program to find Sum of First N Natural numbers

In [ ]:
def N_Sum_natural(n):
 sum=0
 for i in range(1,n+1):
   sum=sum+i
 return sum
print(N_Sum_natural(5))


def re_Sum_natural(n):
  if n==1:
    return 1
  return n+re_Sum_natural(n-1)

print(re_Sum_natural(5))

15
15

# 4 find the sum of number in given range

In [ ]:


def re_sum(low,high):
  if high==low:
    return low
  return high+ sum(low,high-1)
print(sum(3,6))

18

#5 program to find Greatest of two numbers

In [ ]:
def greatest(n1,n2):
  if n1>n2:
    return n1
  elif n1==n2:
    return n1
  else:
    return n2

print(greatest(5,5))
print(max(3,35))

5
35

#6 program to find greatest of three number

In [ ]:
def greatest_3(n1 ,n2,n3):
  if n1>=n2:
    if n1>=n3:
      return n1
    else:
      return n3
  elif n3>=n1:
    if n3>=n2:
      return n3
    else:
      return n2
  else:
    return n2

print(greatest_3(30,40,30))

40

#7 Check whether year is leap year or not

In [ ]:
def leap_year(n):
  if (n%4==0 and n%100!=0) or (n%400==0):
    return True
  else:
    return False
n=int(input())
leap_year(n)

2024

True

#8 check whether number is prime or not

In [ ]:
def is_prime(n):
# 1 for prime 0 is not prime
  flag=1
  i=2
  if n<2:
    flag=0
  for i in range(2,n) :
    if(n%i==0):
      flag=0
  return flag
 
is_prime(17)

1

#9 prime number in given range

In [ ]:
def prime_in_range(low ,high):
  for i in range(low,high+1):
    if is_prime(i) :
      print(i)

prime_in_range(3,90)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89

#10 Sum of digits of a number

In [ ]:
def sum_of_digit(n):
  sum=0
  while(n>0):
    rem=n%10
    sum=sum+rem
    n=n//10
  return sum
print(sum_of_digit(568))

19

#11 Reverse of a number

In [ ]:
def reverse(n):
  rev=0
  while(n>0):
    rem=n%10
    rev=rev*10 +rem
    n=n//10
  return rev
n=int(input("enter the number : "))
print(reverse(n))

enter the number : 2434787
7874342

#12 Palindrome number

In [ ]:
def palindrome(n):
  rev=reverse(n)
  if rev==n:
    return 'palindrome'
  else:
    return "non-palindrome"

print(palindrome(621))
print(palindrome(121))

non-palindrome
palindrome

#13 Armstrong number

In [ ]:
def number_digi(n):
  count=0
  while(n>0):
    rem=n%10
    count=count+1
    n=n//10
  return count

def amstrong(n,digi):
  count=0
  ori_num=n
  num=0
  while(n>0):
    rem=n%10
    num= num+(rem**digi)
    n=n//10
  if ori_num==num:
    return "amstrong"
  else:
    return "non- amstrong"
n=int(input())
x=number_digi(n)
print(amstrong(n,x))

9474
amstrong

#14 Fibonacci Series upto nth term

In [ ]:
def fibo_n(a,b,n):
  if n==0:
    return 
  c=a+b
  print(c)
  fibo_n(b,c,n-1)
n=int(input("enter the value : "))
a=0
b=1
print(a)
print(b)
fibo_n(a,b,n-2)

enter the value : 10
0
1
1
2
3
5
8
13
21
34

#15 Find the Nth Term of the Fibonacci Series

In [ ]:
def fibo(n):
  if n<=1:
    return n
  return fibo(n-2)+fibo(n-1)

print(fibo(9))

34

#16 Factorial of a number

In [2]:
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)
fact(5)

120

#17 Power of a number

In [ ]:
def power1(n,p):
  if p==0:
    return 1
  return n*power1(n,p-1)
print(power1(2,5))

def power2(n,p):
  return pow(n,p)
print(power2(2,5))

32
32

#18 Factor of a number

In [ ]:
def factor(n):
  a=list()
  for i in range(2,n):
    if n%i==0:
      a.append(i)
  return a
n=int(input("enter the number : "))
print(factor(n))

enter the number : 90
[2, 3, 5, 6, 9, 10, 15, 18, 30, 45]

#19 Finding Prime Factors of a number

In [ ]:
def factor_p(n):
  a=list()
  for i in range(2,n):
    if n%i==0 and is_prime(i):
      a.append(i)
  return a
n=int(input("enter the number : "))
print(factor_p(n))

enter the number : 90
[2, 3, 5]

#20 Strong number
Strong Numbers is a number in which the sum of the factorial of individual digits of the numbers is equal to the number itself.

In [4]:
def strong(n):
  sum=0
  ls=[]
  ori=n
  while(n>0):
    rem=n%10
    ls.append(rem)
    n=n//10
  for i in ls:
    sum=sum+fact(i)
  if sum==ori:
    return "strong"
  else:
    return  'non-strong'
n=int(input())
print(strong(n))

145
strong

#21 Perfect number

In [ ]:
def perfect(n):
  sum=0
  a=list()
  for i in range(1,n):
    if n%i==0 :
      a.append(i)
  for i in a:
    sum=sum+i
  if sum==n:
    return 'perfect number'
  else:
    return "non perfect"
  
  
n=int(input())
print(perfect(n))

28
perfect number

#22 Perfect Square

In [ ]:
from math import sqrt
def perfect_square(n):
  if n>0:
    x=int(sqrt(n))
    if n==x*x:
      return 'Yes'
    else:
      return "no"
n=int(input())
print(perfect_square(n))

49
Yes

#23 Automorphic number
A number whose square ends with the same number is known as an Automorphic number.

In [ ]:
def automorphic(n):
  x=n*n
  mod=pow(10,len(str(n)))
  if x%mod ==n:
    return "yes"
  else:
    return "no"
n=int(input())
print(automorphic(n))

#24 Harshad number
A Number that is divisible by the sum of it's digits is known as a Harshad number.

In [1]:
def hashad(n):
  sum=0
  ori=n
  while(n>0):
    rem=n%10
    sum=sum+rem
    n=n//10
  if ori%sum==0:
    return "harshad"
  else:
    return "non-harshad"
n=int(input())
print(hashad(n))

21
harshad

#25 Abundant number 
A Number that is smaller than the sum of all it's factors except the number itself is known as an Abundant number.

In [ ]:
def abundant(n):
  sum=0
  a=list()
  for i in range(1,n):
    if n%i==0 :
      a.append(i)
  for i in a:
    sum=sum+i
  if sum>n:
    return 'abundant'
  else:
    return "non abundant"
n=int(input())
print(abundant(n))

12
abundant

#26 Friendly pair
The numbers whose ( sum of divisors ) / number ratio is same are known as Friendly Pair Numbers.

In [ ]:

def facti(n):
  sum=0
  a=list()
  for i in range(1,n):
    if n%i==0 :
      a.append(i)
  for i in a:
    sum=sum+i
  return sum

def friendly_pair(n1,n2):
  x=facti(n1)
  y=facti(n2)
  if (int(x/n1)==(int(y/n2))):
    return "yes"
  else:
    return "no"
n1=int(input())
n2=int(input())
print(friendly_pair(n1,n2))

23
89
yes